.bar-chart {
    width: 100%;
    .bar {
        p {
            margin: 5px 0;
        }
        .bar-fill {
            height: 30px;
            border-radius: 5px;
            width: 0;
        }
    }
}