.bar-chart {
    width: 100%;
    .bar {
        p {
            margin: 5px 0;
        }
        .bar-fill {
            height: 30px;
            border-radius: 5px;
            width: 0;
            margin-bottom: 10px;
        }
    }
}

.value-indicators {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}