.custom-tabs {
  & .components-base-control:has(.components-text-control__input) {
    margin: 0;
  }

  & .components-toggle-control {
    padding: 1em 0;
  }

  & .components-tab-panel__tabs button {
    width: 100%;
    flex-direction: column;
    background: #cccccc61;
    color: black;
    border-bottom: solid 2px transparent;
    padding: 0.5rem 0.25rem;
    flex: 1;
    height: 75px !important;
    align-items: center;
    justify-content: center;

    &.active-tab,
    &.active-tab:hover {
      background: white;
      border-bottom: solid 2px #007cbac9;
    }

    & svg {
      height: 20px;
    }
  }
}